@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Playfair+Display');
header {
  font-family: 'Playfair Display', 'Times New Roman', serif;
}
body {
  font-family: 'Roboto', Helevtica, Arial, sans-serif;
}
.bg-russian-red {
  background-color: #e90606;
}
.text-golden-shower{
  color: #d5ac4b;
}
.text-russian-red{
  color: #e90606;
}
.magazine-cover {
  background-color: black;
  border: 10px solid #e90606;
  width: 500px;
  height: 670px;
  position: relative;
  margin: 0 auto;
  transition: all .25s ease-in-out;
}

.time-header {
  position: absolute;
  background-image: url('images/time-logo.png');
  top: 35px; left: 50px; right: 50px;
  height: 150px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 200;
  transition: all .25s ease-in-out;
}
.time-text {
  position: absolute;
  z-index: 150;
  text-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
  .top {
    left: 0; right: 0; top: 1%;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .left-large {
    left: 15px; top: 60%;
    width: 50%;
    font-weight: 700;
  }
  .left-medium {
    left: 20px;
    top: 80%;
    width: 50%;
  }
  .right-1,
  .right-2,
  .right-3 {
    right: 15px;
    top: 38%;
    width: 35%;
    text-align: right;
    font-weight: 700;
  }
  .right-2 {
    top: 55%;
  }
  .right-3 {
    top: 70%;
  }
.time-cover-image {
  background-color: black;
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background-image: url('http://assets.nydailynews.com/polopoly_fs/1.2731579.1469831692!/img/httpImage/image.jpg_gen/derivatives/article_750/583802826.jpg');
  z-index: 0;
  background-size: cover;
  background-position: center;
  transition: all .25s ease-in-out;
}

@media (max-width: 540px){

  .magazine-cover {
    width: 320px;
    height: 420px;
    border-width: 5px;
  }
    .top.time-text { font-size: .7rem; }
    h1.time-text   { font-size: 2rem; }
    h3.time-text   { font-size: 1rem; }
    h5.time-text   { font-size: .8rem;}

  .time-header {
    top: 20px;
    left: 30px;
    right: 30px;
  }
  .btn {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
